.historyRight{
   display: flex;
   flex-direction: column;
   margin-left: 285px ;
}
.historyTable{
   margin: 20px;
   padding: 10px;
   border: none;
 
}
.coloredBg:nth-child(4){
   background-color: #ffdcdccb;
}
.coloredBg:nth-child(2) {
   background-color: #ffdcdccb;
}
