.headerContainer{
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 78vw;
    flex-wrap: wrap;
    margin-right: 10px;
}
.refresh{
    all:unset;
    display: flex;
    justify-content: flex-start;
}
.profileImage{
    width: 10vw;
    height: 10vw;
    border-radius: 500px ;
    object-fit: contain;
    background-color: rgb(255, 183, 0);
}
.lastUpdate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    /* background-color: rgb(255, 248, 240); */
    flex-wrap: wrap;
}
.updateBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.updateDate{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}
.updateIcon{
    cursor: pointer;
}
.updateIcon:hover{
    color: red;
}
.updateText{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 20px;
    cursor: default;
}
.updateText h4{
     margin-left: 15px;
}
.profile{
    display: flex;
    align-items: center;
}
.name{
    margin: 10px;
}
.editbutton{
    margin: 10px;
    width: 8vw;
    border: 2px solid red;
    border-radius: 20px;
    font-size: large;
    padding: 10px;
    background-color: white;
    color: red;
    transition: 90ms ease-in-out;
}
.editbutton:hover{
    background-color: red;
        color: antiquewhite;
        cursor: pointer;
}
.profileContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.date{
    margin-left:10px;
    color: rgba(0, 0, 0, 0.502);
}