
*{
    margin: 0px;
    padding: 0px;
}


.sidebar {
    width: 20vw;
    background-color: #850000;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0px 50px 50px 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    z-index: 1000;
}

.sidebar .list {
    list-style-type: none;
    padding-top: 50px;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo h1{
    margin-top: 30px;
    margin-left: 14px;
    color:antiquewhite;
    text-align: left;
    font-size:xx-large;
    font-weight: bolder;
    border: none; 
}
.logo .beDonor{
    margin-top: 20px;
    color: #850000;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding: 20px;
    border-radius: 80px;
    background-color: white;
    border: none;
    transition: 90ms ease-in;
}
.logo .beDonor:hover{
        color: antiquewhite;
        background-color: rgba(255, 255, 255, 0.383);
        cursor: pointer;
}
.sidebar .listItem {
    width: 15vw;
    padding: 20px;
    border-radius: 20px;
    background-color: #850000;
    border: none;
    text-align: left;
    font-weight: bolder;
    font-size: larger;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 90ms ease-in;
}
.icon{
    margin-right: 20px;
    margin-top: -3px;
}
.signoutIcon{
    margin-right: 10px;
    margin-top: -3px;
}

.sidebar .listItem:hover{
        padding: 20px;
        border: none;
        text-align: center;
        color:antiquewhite;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.383);
        cursor: pointer;
}
.signout {
    margin-top: 200px;
    width: 15vw;
        padding: 20px;
        border-radius: 20px;
        background-color: #850000;
        border: none;
        text-align: left;
        font-weight: bolder;
        font-size: larger;
        color: antiquewhite;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        transition: 90ms ease-in;
}
.signout:hover{
    padding: 20px;
        border: none;
        text-align: center;
        color: antiquewhite;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.383);
        cursor: pointer;
}